<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="display:flex">
        <form action="" id="city-name-form">
            <p>find with city name</p>
            <input type="text" name="city-name" placeholder="city name" />
            <button type="button" id="submit-city-name-btn">submit</button>
        </form>
        <p style="margin: 0.5rem;"></p>
        <form action="" id="geolocation-form">
            <p>find with lat lon</p>
            <div style="width: 10rem; display: inline;">
                <input type="text" name="lat" placeholder="lat" style="width: 10em;" />
                <input type="text" name="lon" placeholder="lon" style="width: 10em;" />
            </div>
            <button type="button" id="submit-geolocation-btn">submit</button>
        </form>
    </div>
    {% if result.status == "success" %}
    <div>
        <h2>result</h2>
        <p>country: {{result.country}}</p>
        <p>feels like: {{result.feels_like}} C&deg;</p>
        <p>temperature: {{result.temp}} C&deg;</p>
    </div>
    {% elif result.status == "error" %}
    <div>
        <h2>{{result.msg}}</h2>
    </div>
    {% endif %}
    <script>
        const cityNameBtn = document.getElementById("submit-city-name-btn");
        const geolocationBtn = document.getElementById("submit-geolocation-btn");
        const cityNameForm = document.getElementById("city-name-form");
        const geolocationForm = document.getElementById("geolocation-form");

        function formAction(mode) {
            if (mode === "geolocation") {
                geolocationForm.action = "{{ url_for('get_location_by_coordinates') }}";
                geolocationForm.method = 'post'
                geolocationForm.submit();
            } else if (mode === "city-name") {
                cityNameForm.action = "{{ url_for('get_location_city_name') }}";
                cityNameForm.method = 'post'
                cityNameForm.submit();
            }
        }

        geolocationBtn.addEventListener("click", function () {
            formAction("geolocation");
        });
        cityNameBtn.addEventListener("click", function () {
            formAction("city-name");
        });
        cityNameForm.addEventListener('click', function (event) {
            event.preventDefault()
        })
    </script>
</body>

</html>