<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: 1rem">
    <form action="{{ url_for('add_post') }}" id="post-form" method="post">
        <div>
            <input type="text" name="title" id="title" placeholder="title" />
            <br>
            <textarea name="content" id="content" rows="5" cols="50" placeholder="message"></textarea>
        </div>
        <button type="submit" id="submit-form">submit</button>
        </div>
    </form>
    <div>
        {% for post in posts %}
        <div style="border: 1px black solid; padding: 1rem; ">
            <h3 id="t-{{post.id}}">{{post.title | replace(" ", "&nbsp;" | safe)}}</h3>
            <p id="c-{{post.id}}" style="line-break:anywhere;">{{post.content | replace(" ", "&nbsp;" | safe)}}</p>
            <p style="font-size: 0.7rem;">
                <span id="modified-time-{{post.id}}">last modified: {{post.last_modified}}</span>
                <br>
                <span id="created-time-{{post.id}}">created at: {{post.last_modified}}</span>
            </p>
            <button type="button" onclick="editPost('{{post.id}}')" id="first-btn-{{post.id}}">edit</button>
            <button type="button" onclick="deletePost('{{post.id}}')" id="second-btn-{{post.id}}">remove</button>
        </div>
        {% endfor %}
    </div>

</body>
<script>

    function editPost(id) {

        const url = "{{ url_for('get_post', id='postId') }}".replace("postId", id);
        const title = document.getElementById(`t-${id}`)
        const content = document.getElementById(`c-${id}`)
        const firstBtn = document.getElementById(`first-btn-${id}`)
        const secondBtn = document.getElementById(`second-btn-${id}`)


        fetch(url, { method: 'GET' }).then(res => {
            if (res.status === 200) {
                res.json().then(data => {
                    title.outerHTML = `<input type="text" name="title" id="t-${id}" placeholder="title" value=${data.title} />`;
                    content.outerHTML = `<textarea name="content" id="c-${id}" rows="5" cols="50" placeholder="message">${data.content}</textarea>`;

                    firstBtn.innerText = 'done'
                    firstBtn.onclick = () => confirmEdit(id)

                    secondBtn.innerText = 'cancel'
                    secondBtn.onclick = () => cancelEdit(id, data.title, data.content)
                }).catch(err => console.error("Error parsing JSON:", err));
            } else {
                console.error("Failed to fetch post:", res.status);
            }
        })
    }

    function confirmEdit(id) {
        const title = document.getElementById(`t-${id}`)
        const content = document.getElementById(`c-${id}`)
        const firstBtn = document.getElementById(`first-btn-${id}`)
        const secondBtn = document.getElementById(`second-btn-${id}`)
        const createdTimeStamp = document.getElementById(`created-time-${id}`)
        const modifiedTimeStamp = document.getElementById(`modified-time-${id}`)

        const url = '{{url_for("edit_post")}}'
        fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id: id,
                title: title.value,
                content: content.value
            })
        }).then(async res => {
            if (res.status === 200) {
                const data = await res.json();
                console.log(data);
                createdTimeStamp.innerText = `created at: ${data.created_at}`;
                modifiedTimeStamp.innerText = `last modified: ${data.last_modified}`;
            }
        }).catch(err => console.error("Error updating post:", err));

        title.outerHTML = `<h3 id="t-${id}">${title.value.replace(/\s/g, '&nbsp')}</h3>`;
        content.outerHTML = `<p id="c-${id}" style="line-break:anywhere;">${content.value.replace(/\s/g, '&nbsp')}</p>`;
        firstBtn.outerHTML = `<button type="button" onclick="editPost(${id})" id="first-btn-${id}">edit</button>`
        secondBtn.outerHTML = `<button type="button" onclick="deletePost(${id}')" id="second-btn-${id}">remove</button>`
    }

    function cancelEdit(id, title_post, content_post) {
        const title = document.getElementById(`t-${id}`)
        const content = document.getElementById(`c-${id}`)
        const firstBtn = document.getElementById(`first-btn-${id}`)
        const secondBtn = document.getElementById(`second-btn-${id}`)

        title.outerHTML = `<h3 id="t-${id}">${title_post.replace(/\s/g, '&nbsp')}</h3>`;
        content.outerHTML = `<p id="c-${id}" style="line-break:anywhere;">${content_post.replace(/\s/g, '&nbsp')}</p>`;
        firstBtn.outerHTML = `<button type="button" onclick="editPost(${id})" id="first-btn-${id}">edit</button>`
        secondBtn.outerHTML = `<button type="button" onclick="deletePost(${id}')" id="second-btn-${id}">remove</button>`
    }

    function deletePost(id) {
        const url = "{{ url_for('delete_post', id='postId') }}".replace("postId", id);
        fetch(url, { method: 'DELETE' }).then(_ => {
            window.location.href = "{{url_for('home') }}"
        })
    }

</script>

</html>